
<div class="container-fluid" style="background-image:url('../img/backimg7.jpg');background-size:cover;">
<br>
<br>

<div style="width:100%;height:100%;margin:auto;">
<div class="row">

<div class="col-xs-8 col-md-12 col-lg-12 col-sm-6">
<div id="rounddiv"></div>
</div>

</div>

<div class="row">

<div class="col-xs-12 col-md-8 col-lg-12 col-sm-12"style="margin-left:25px;height:25px;">

<form  name="myForm"  ng-submit="myForm.$valid && send()" novalidate>
<div class="form-group has-feedback" ng-class="{ 'has-error': myForm.$invalid}">
<br>


		<input type="number" class="form-control" name="Mobileno" placeholder="Mobile No" style="background-color:#e0e0eb;" ng-model="user.name" required ng-minlength="10" ng-maxlength="10">
	
<div ng-show="myForm.$submitted || myForm.Mobileno.$touched" style="margin-top:0px;padding-bottom:20px;padding-top:0px;">
						<div ng-show="myForm.Mobileno.$error.required" class="help-block"><p class="text-danger" style="font-size:15px;font-weight:bold;"> please enter mobile no</div>
							<div ng-show="myForm.Mobileno.$error.minlength || myForm.Mobileno.$error.maxlength"><p class="text-danger" style="font-size:15px;font-weight:bold;"> enter valid mobile no</div>
												
		</div>

		
<input type="password" class="form-control" name="password" placeholder="Password" style="background-color:#e0e0eb;" ng-model="user.password" required minlength="6">

<div ng-show="myForm.$submitted || myForm.password.$touched" style="margin-top:0px;">
						<div ng-show="myForm.password.$error.required"><p class="text-danger" style="font-size:15px;font-weight:bold;"> please enter password</div>

						<div ng-show="myForm.password.$error.minlength"><p class="text-danger" style="font-size:15px;font-weight:bold;"> password length is short.(minlenght=6)
						</div>
						
		</div>

	register as family head? <input type="checkbox" ng-model="formCheck.isChecked">
	<br> 


	{{formCheck.isChecked}} 
	

<input type="submit" class="btn-primary btn-lg" value="login"></input>&nbsp;&nbsp;
<a nav-direction="forward" href="#/register"><input type="button" class="btn-default btn-lg" value="Register"></input></a> 
<br>


<p align="right" style="padding-top:30px;"><a href="#/">Forget Password??</a></p>
</div>
</form>
</div>
</div>







